{% extends "base.html.twig" %}

{% block title %}Movies Page
{% endblock %}

{% block body %}

	{# for little bit more information we can use dump method
							<h1>
							    {{ dump(title) }} 
							</h1> #}

	{# {% if title %}
							<h1>
							    {{ title }} is a movie.
							</h1>
							{% else %}
							<h1>Whoops, there has no movie has not been set.</h1>
							{% endif %} #}

	{# {{ movies }} #}
	{# <h1>List of Movies :::</h1>
							{% for movie in movies %}
							<h3 style="margin-left: 15%;">{{ movie }}</h3>
							{% endfor %}
							
							<h2>Global variables :::</h2>
							<h3>{{ _self }}</h3>
							<h3>{{ _charset }}</h3>
							<h1>{{ author }}</h1> #}

		<h1 class="bg-blue-500 text-2xl text-center font-bold"> Woohoo!</h1>

	<img src="{{ asset('build/images/img1.c0d7b739.jpg') }}" alt="">

{% endblock %}
